<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/stylesheet.css" th:href="@{/css/stylesheet.css}" />
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">
<script type="text/javascript" th:src="@{/javascript/userJS.js}"></script>
<title>Mind Matters</title>
</head>
<body>
	<div class="container">
		<h3>Reset Password</h3>
		<hr>
		<form action="" onsubmit="return validate()" th:object="${token}" th:action="@{/users/submitChange}"
			method="POST" id="form">
			
			<input type="hidden" th:field=*{confirmationToken}/>
			<fieldset>
			<label text="Enter new password:">Password:</label>
        	<input id = "newPassword" type = "password" th:field=*{user.password} required="required"/>
        	<p th:if="${#fields.hasErrors('user.password')}" th:errors="*{user.password}"></p>
        	<p id = "newPwdError" ></p>
        	</fieldset>
        	<fieldset>
			<label text="Confirm new password:">Confirm password:</label>
        	<input id = "confirmPassword" type = "password" required="required" />
        	<p id="confirmPwdError"></p>
        	</fieldset>
        	<fieldset>
			<input type="submit" class="btn btn-success"></input>
			</fieldset>

		</form>
	</div>

</body>
</html>