<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/stylesheet.css" th:href="@{/css/stylesheet.css}" />
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">
<script type="text/javascript" th:src="@{/javascript/quizJS.js}"></script>
<title>Mind Matters</title>
</head>
<body>
<header th:insert="layout.html :: header" class="resource_header"></header>
	<div class="container">
		<h4 th:text="${message}">Password Update Successful</h4>
	</div>
</body>
</html>